<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">

    <!-- title -->
    <title>
        {% block title %}Welcome to SyCRUD!{% endblock %}
    </title>

    <!-- styles -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>


<body>


<!-- header -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">SyCRUD</h5>

    <!-- login / log out
    ---------------------->
    {% if app.user %}

        <div class="p-2 text-dark">
            Hello, {{ app.user.username }}
        </div>
        <!-- log out -->
        <a href="{{ url('security_logout') }}" class="p-2 text-secondary">Loguot</a>
    {% else %}
        <!-- login -->
        <nav class="my-2 my-md-0 mr-md-3">
            <a href="{{ url('security_login') }}" class="p-2 text-dark" href="#">Sign in</a>
        </nav>
        <!-- registration -->
        <a href="{{ url('security_register') }}" class="p-2 text-primary">Sign up</a>
    {% endif %}

</div>

<div class="container">
    <!-- flash messages -->
    {% include 'flash_messsages.html.twig' %}

    <!-- menu -->
    <div class="btn-group mr-md-auto" role="group">
        <a href="{{ path('/') }}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Home</a>
        <a href="{{ path('author-show-all') }}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Authors</a>
        <a href="{{ path('book-show-all') }}" class="btn btn-outline-secondary" role="button" aria-pressed="true">Books</a>
    </div>
</div>

<!-- body -->
{% block body %}
    {# ... #}
{% endblock %}


<!-- footer -->
<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="{{ asset('images/s5.png') }}" alt="" width="100">
                <small class="d-block mb-3 text-muted">&copy; 2017-{{ "now"|date("Y") }}</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<!-- javascript -->
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html>
